name: Build Android

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: "21"

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 24.x

      - name: Install app dependencies
        run: npm install

      - name: Build
        env:
          CI: false
          REACT_APP_CAPACITOR_HOT_UPDATE_APP_ID: ${{ secrets.CAPAWESOME_APP_ID }}
          REACT_APP_ENV: ${{vars.REACT_APP_ENV_MAIN}}

        run: npm run build

      - name: Make gradlew executable
        working-directory: ./android/
        run: chmod +x ./gradlew

      - name: Generate the Android App assembleDebug
        working-directory: ./android/
        run: ./gradlew assembleDebug

      - name: Deploy apk
        working-directory: .
        run: |
          cd android/app/build/outputs/apk/debug/
          git init
          git config --global user.email manish.joshi@sutara.org
          git config --global user.name  manish7321
          git remote add origin https://${{ secrets.ACCESS_TOKEN }}@github.com/Manish7321/capawesome-live-update-demo.git
          git checkout -b main-apk
          git add app-debug.apk
          git commit -m "created apk"
          git push origin main-apk -f
